body {
    background-color: lightslategrey;
    padding-top: 0.25rem;
    }

.container {

    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    }

.gallery {

    column-count: 3;

    }

.galleryImg {
    max-width: 100%;
    max-height: available;
    border-radius: 10%;
    cursor: pointer;
    }

.textHandling {
    display: flex;
    padding-bottom: 0.25rem;
    }

.centerText{
    margin-left: auto;
    margin-right: auto;
    }
